.container{
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;
}

#cards_produtos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
}

#botoes_home {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botao {
    padding: 8px 20px;
    border: 0;
    border-radius: 10px;
    background: var(--laranja-destaque);
    color: var(--fundo-escuro);
    cursor: pointer;
    transition: transform .06s ease, box-shadow .06s ease;
    font-size: var(--tamanho-texto-btn);
}

.botao:active {
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgba(0, 0, 0, .18);
}

#botoes_direita {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* RESPONSIVIDADE */
@media (min-width: 768px) {
    #cards_produtos {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) {
    #cards_produtos {
        grid-template-columns: repeat(3, 1fr);
    }
}